#container{
    margin-top: 10px;
}

.card{
    display: flex;
    align-items: center;
    height: 170px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px grey;
    margin: 15px;}

.card img{
    height: 100%;
    width: 220px;
    object-fit: cover;
}

.card-right{
    margin: 25px;
}